*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(221, 221, 221, .35);
}

.title{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: black;
    background-color: rgba(144, 254, 188, 0.85);
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(144, 254, 188, 0.85);
    padding-bottom: 20px;
}

.dropdown {
    /*float: left;
    overflow: hidden;*/
    padding-right: 60px;
    padding-top: 40px;
  }

.dropbtn{
    height: 28px;
    width: 28px;
}
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropdown-content {
    background-color: rgb(209, 209, 209);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 6;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(228, 145, 22);
    transition: all 0.5s ease-in-out;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

a{
    text-decoration: none;
    color: black;
}

.container-2{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 150px;
    padding-left: 20px;
    font-size: 16px;
}
.wrapper1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-height: 600px;
    justify-content: space-around;
    grid-row-gap: 2rem;
    margin-left: 2rem;
    padding-bottom: 120px;
}

.item-1{
    /*display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 600px;*/
    max-width: 250px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 50px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    font-size: 16px;
}

img{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    height: 150px;
    width: 210px;
    justify-items: center;
    align-items: center;
    border-right: 3px, black, solid;
}
h3{
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

select{
    cursor: pointer;
    padding-bottom: 10px;
}

.btn {
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 10px;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    width: 5rem;
    height: 2rem;
    margin: 3px;
}

.cart{
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 10px;
    padding: 2px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 4rem;
}
#val{
    background: #38f9d7;
    padding: 1rem;
}
.font{
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.price{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.footing {
    margin-top: 2rem;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.35);
    bottom: 0;
    position: fixed;
    width: 100%;
}
.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-nav{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-nav li{
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 760px) {

    .dropdown {
        /*float: left;
        overflow: hidden;*/
        padding-right: 60px;
        padding-top: 40px;
      }
    
    .dropbtn{
        height: 38px;
        width: 38px;
    }

    .dropdown-content {
        top: 80px;
        min-width: 60px;
      }
}

@media only screen and (min-width: 1024px) {

    .title{
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 34px;
    }

    h1{
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 40px;
        font-size: 24px;
    }
}

@media only screen and (min-width: 1440px) {

    .title{
        padding-left: 60px;
        padding-top: 40px;
        padding-bottom: 60px;
        font-size: 40px;
    }

    h1{
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 40px;
        font-size: 28px;
    }

    .wrapper1{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        max-height: 800px;
        justify-content: space-around;
        grid-row-gap: 2rem;
        margin-left: 2rem;
        padding-bottom: 120px;
    }
    
    .item-1{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        height: 600px;
        min-width: 400px;
        justify-items: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        padding: 1rem;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 210px;
        justify-items: center;
        align-items: center;
        border-right: 3px, black, solid;
    }
    h3{
        text-align: center;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .btn {
        background-color: dodgerblue;
        color: whitesmoke;
        border-radius: 10px;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        width: 6rem;
        height: 2rem;
        margin: 3px;
    }
    
    .price{
        font-size: 14px;
        padding-top: 30px;
    }

    .cart{
        background-color: dodgerblue;
        color: whitesmoke;
        border-radius: 10px;
        padding: 2px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: 100%;
        height: 4rem;
    }

    .font{
        font-size: 16px;
        
    }
    
}

@media only screen and (min-width: 2550px) {

    .title{
        font-size: 60px;
        padding-left: 60px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .dropdown {
        /*float: left;
        overflow: hidden;*/
        padding-right: 80px;
        padding-top: 80px;
      }
    
    .dropbtn{
        height: 60px;
        width: 60px;
    }

    .dropdown-content {
        top: 145px;
        min-width: 60px;
      }

    .dropdown-content a{
        font-size: 28px;
    }

    h1{
        font-size: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 60px;
    }

    .wrapper1{
        display: grid;
        grid-column: 600px, 600px, 600px;
        height: 800px;
        justify-content: space-around;
        grid-row-gap: 6rem;
        margin-left: 2rem;
        padding-bottom: 120px;
    }
    
    .item-1{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        height: 600px;
        min-width: 400px;
        justify-items: center;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        padding: 1rem;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 230px;
        justify-items: center;
        align-items: center;
        border-right: 3px, black, solid;
    }
    h3{
        text-align: center;
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .btn {
        background-color: dodgerblue;
        color: whitesmoke;
        border-radius: 10px;
        padding: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: 7rem;
        height: 2rem;
        margin: 3px;
    }

    .price{
        font-size: 18px;
    }

    .cart{
        background-color: dodgerblue;
        color: whitesmoke;
        border-radius: 10px;
        padding: 2px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        width: 100%;
        height: 4rem;
    }

    .font{
        font-size: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}
